modules/extensions-spring-support/src/test/resources/heisenberg-scope-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:heisenberg="http://www.mulesoft.org/schema/mule/heisenberg"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/heisenberg http://www.mulesoft.org/schema/mule/heisenberg/current/mule-heisenberg.xsd">

    <configuration-properties file="heisenberg.properties"/>

    <heisenberg:config name="heisenberg"
                       myName="heisenberg"
                       cancer="true"
                       dateOfBirth="1959-09-07T00:00:00"
                       dateOfDeath="2011-09-07T00:00:00-05:00"
                       money="1000000"
                       finalHealth="CANCER">
        <heisenberg:enemies>
            <heisenberg:enemy value="Gustavo Fring"/>
            <heisenberg:enemy value="Hank"/>
        </heisenberg:enemies>
        <heisenberg:monthly-incomes>
            <heisenberg:monthly-income value="12000"/>
            <heisenberg:monthly-income value="500"/>
        </heisenberg:monthly-incomes>
        <heisenberg:next-door address="pollos hermanos" victim="Gustavo Fring">
            <heisenberg:previous victim="Krazy-8" address="Jesse's"/>
        </heisenberg:next-door>
        <heisenberg:ricin-packs>
            <heisenberg:ricin microgramsPerKilo="22">
                <heisenberg:destination victim="Lidia" address="Stevia coffe shop"/>
            </heisenberg:ricin>
        </heisenberg:ricin-packs>
        <heisenberg:known-addresses>
            <heisenberg:known-address value="one address"/>
        </heisenberg:known-addresses>
        <heisenberg:inline-barber-preferences beardTrimming="MUSTACHE"/>
    </heisenberg:config>

    <flow name="eachSuccess">
        <heisenberg:handle-each handleSuccess="true">
            <set-payload value="1"/>
            <set-variable variableName="myVar" value="3"/>
            <set-payload value="2"/>
        </heisenberg:handle-each>
        <set-variable variableName="2222222" value="2222222"/>
    </flow>

    <flow name="eachSuccessFailPropagate">
        <heisenberg:handle-each handleSuccess="true">
            <set-payload value="FAIL"/>
            <set-variable variableName="myVar" value="3"/>
            <set-payload value="2"/>
        </heisenberg:handle-each>
    </flow>

    <flow name="eachSuccessFailResume">
        <heisenberg:handle-each handleSuccess="true" handleError="true" onErrorResume="true">
            <set-payload value="FAIL"/>
            <set-variable variableName="myVar" value="3"/>
            <set-payload value="FAIL"/>
        </heisenberg:handle-each>
    </flow>

    <flow name="eachErrorResume">
        <heisenberg:handle-each handleError="true" onErrorResume="true">
            <set-payload value="#[invalidOne]"/>
            <set-variable variableName="myVar" value="3"/>
            <set-payload value="#[invalidTwo]"/>
        </heisenberg:handle-each>
    </flow>

    <flow name="eachErrorPropagate">
        <heisenberg:handle-each handleError="true">
            <set-payload value="#[invalidOne]"/>
            <set-variable variableName="myVar" value="3"/>
            <set-payload value="#[invalidTwo]"/>
        </heisenberg:handle-each>
    </flow>

    <flow name="executeAnything">
        <heisenberg:execute-anything>
            <try>
                <set-payload value="New Payload"/>
            </try>
        </heisenberg:execute-anything>
    </flow>

    <flow name="neverFailsWrapperSuccessChain">
        <heisenberg:never-fails-wrapper>
            <set-variable variableName="varName" value="varValue"/>
            <set-payload value="#['newPayload']"/>
        </heisenberg:never-fails-wrapper>
    </flow>

    <flow name="neverFailsWrapperFailingChain">
        <heisenberg:never-fails-wrapper>
            <set-variable variableName="varName" value="varValue"/>
            <set-payload value="#[dummy.error]"/>
        </heisenberg:never-fails-wrapper>
    </flow>

    <flow name="neverFailsWrapperNoChain">
        <heisenberg:never-fails-wrapper/>
    </flow>

    <flow name="alwaysFailsWrapperSuccess">
        <heisenberg:always-fails-wrapper>
            <logger message="#[payload]"/>
        </heisenberg:always-fails-wrapper>
    </flow>

    <flow name="alwaysFailsWrapperFailure">
        <heisenberg:always-fails-wrapper>
            <set-payload value="#[dummy.error]"/>
        </heisenberg:always-fails-wrapper>
    </flow>

    <flow name="exceptionOnCallbacksSuccess">
        <heisenberg:exception-on-callbacks>
            <logger message="#[payload]"/>
        </heisenberg:exception-on-callbacks>
    </flow>

    <flow name="exceptionOnCallbacksFailure">
        <heisenberg:exception-on-callbacks>
            <set-payload value="#[dummy.error]"/>
        </heisenberg:exception-on-callbacks>
    </flow>

    <flow name="payloadModifier">
        <heisenberg:payload-modifier payload="#['MESSAGE']" attributes="#[{'some': 'var'}]">
            <set-variable variableName="newPayload" value="#[payload]"/>
            <set-variable variableName="newAttributes" value="#[attributes]"/>
        </heisenberg:payload-modifier>
    </flow>

    <flow name="getChain">
        <heisenberg:get-chain>
            <set-variable variableName="newPayload" value="#[payload]"/>
            <set-variable variableName="newAttributes" value="#[attributes]"/>
        </heisenberg:get-chain>
    </flow>

    <flow name="getCounter">
        <heisenberg:get-counter/>
    </flow>
</mule>
